.bg-image {
    background-image: url("/images/background.jpg");
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100vh;
}
/* Main colors:
    #F58233 Orange
    #00B5AD Blue
    */