.background {
	background-image: url("/images/border-topleft.png"), url("/images/border-topright.png"), url("/images/border-bottomleft.png"), url("/images/border-bottomright.png");
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: top left, top right, bottom left, bottom right;
	background-size: calc(100vw / 17), calc(100vw / 17), calc(100vw / 17), calc(100vw / 17);
	background-color: #fdfdfd;
	height: calc(100vh - 65px);
}

.background-animated {
	opacity: 0%;
	animation: fade-in 0.5s ease-in-out;
	-webkit-animation: fade-in 0.5s ease-in-out;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.fade-up {
	animation: fade-up 0.7s ease-in-out;
	-webkit-animation: fade-up 0.7s ease-in-out;
	opacity: 0%;
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
	
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.title-forum {
	font-size: 1.5rem;
	font-weight: 600;
	color: rgb(0, 0, 121);
}

strong {
	font-weight: 600;
}